[submodule "vendor/locales"]
	path = vendor/locales
	url = https://github.com/easybiblabs/locales.git
	branch = eb-locales
[submodule "vendor/styles"]
	path = vendor/styles
	url = https://github.com/easybiblabs/styles.git
	branch = eb-styles
