[submodule "vendor/locales"]
	path = vendor/locales
	url = git@github.com:easybiblabs/locales.git
	branch = eb-locales
[submodule "vendor/styles"]
	path = vendor/styles
	url = git@github.com:easybiblabs/styles.git
	branch = eb-styles
